/* index.css */

.header-container {
    height: 92px;
    width: 100vw;
    padding: 8px 56px;
    box-sizing: border-box;
    background-color: #FCFCFC;
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 15px 0;
    width: 137px;
    height: 76px;
    box-sizing: border-box;
}